flask==1.1.2
uWSGI==2.0.19.1
pathvalidate==2.3.2
soundfile==0.10.3.post1
librosa==0.8.0
h5py==2.10.0
PyYAML==5.3.1
tensorflow==2.4.0
apispec==4.0.0
flask-swagger-ui==3.36.0
apispec-webframeworks==0.5.2
marshmallow==3.10.0
pytz==2020.5